<!doctype html>
<html>
<head>
    <title>IoT Home</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
</head>
<body>
<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">IoT Security Demo</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
    </ul>
</nav>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> IoT Temperature Sensor Home</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-success"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-success"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>